
<div class="whole">
    <%- include('../partials/nav') %>
<div class="container mt5">
    <h1><%=currentUser.firstname%>'s profile.</h1>

<div class="row">
    <div class="col s6" id="profilePic">
        <% if (currentUser.pic) { %>
            <img class="circle"src="<%=currentUser.pic%>" alt="profile pic">
         <% } else { %>
            <img class="circle"src="https://i.imgur.com/jIRfaSu.jpg" alt="profile pic">
        <% } %>

    </div>
    <div class="col s6">
        <p>
            <strong>name:</strong> <%= currentUser.firstname%> <%=currentUser.lastname%>
        </p>
        <p>
            <strong>username:</strong> <%= currentUser.username%> 
        </p>
        <p>
            <strong>location:</strong> <%=currentUser.city%>, <%=currentUser.country%>
        </p>
        <p>
            <strong>member since: </strong><%=moment(currentUser.createdAt).format('MMM Do[,] YYYY')%>
        </p>
        <p>
            <%=currentUser.bio%>
        <p>
    </div>
</div>
<hr>
<h5>future plant babies. </h5>
<div class="row">
 <% wishes.plants.forEach(p => { %>
    <div class="col sm-3">
        <img src="<%=p.pic%>" alt="<%=p.commonName%>">
    </div>

 <% }) %>
        
    
</div>
</div>
</div>