<link rel="stylesheet" href="/css/eventHome.css">


<div class="whole">
    <%- include('../partials/nav') %>
    <div class="container">
        <h1>events.</h1>
        <div class="row">
            <ul class="collapsible">
                <% events.forEach(e => { %>
                <li>
                    <div class="collapsible-header"><i
                            class="material-icons">unfold_more</i><strong><%=e.title%></strong>&nbsp | &nbsp
                        <%=moment(e.date).format('MMM Do [,] YYYY')%></div>
                    <div class="collapsible-body">
                        <p>Time:
                            <%=moment(e.startTime, "HH:mm:ss").format('HH[:]MM A')%>&nbsp-&nbsp<%=moment(e.endTime, "HH:mm:ss").format('HH[:]MM A')%>
                        </p>
                        <p>Location: <%=e.location%></p>
                        <p><%=e.content%></p>
                        <% if (e.userId == currentUser.id) { %>
                        <div class="row">
                            <a href="/community/events/<%=e.id%>/edit"><span data-badge-caption="edit" class="badge"><i
                                class="material-icons tiny">mode_edit</i></span></a>
                        </div>
                        <% } %>
                    </div>
                </li>
                <% }) %>


        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large teal" href="/community/events/create">
                <i class="large material-icons">add</i>
            </a>
        </div>

    </div>
</div>

<!-- script for Google places autocomplete address field  -->
<script src="<%=mapURL%>" async defer></script>
<script>
    var placeSearch, autocomplete;

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), { types: ['address'] });

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(['formatted_address']);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        console.log("PLACE!======", place)
        document.getElementById('location').value = place.formatted_address;

    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    { center: geolocation, radius: position.coords.accuracy });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }


</script>